<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">

  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">



  <div class="container">
    <div style="margin-top: 5%">
      <h3 style="text-align: center;">Final Result</h3>
        <p style="text-align: center;" href="{{url_for('upload_image')}}">Reset</p>
    </div>
      <div>
        <img src="{{src}}" height="{{height}}" width="{{width}}" style="margin-left: auto; margin-right: auto; display: block">
    </div>
      <h3 style="text-align: center; padding-top: 40px"> Palette with hex codes</h3>

        <div style="padding-top: 70px">
            <table>

              <tr>
                {% for hex in hex_codes %}
                <th style=" padding: 5px 20px 20px 20px; border: none;">
                  {{ hex }}
                </th>
                {% endfor %}
              </tr>
            <tr>
                <img src="{{src2}}" style="margin-left: auto; margin-right: auto; display: block">
            </tr>
        </table>

        </div>

  </div>
</body>
</html>
